.app {
    display: flex;
    justify-content: center;
    min-height: 100vh;

    text-align: center;
    background-color: #282c34;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.logout {
    width: 96px;
    margin-top: 10px;
}

.login {
    width: 200px;
    margin-right: 40px;
}

.quill {
    width: 800px;
    margin-top: 5px;
    background-color: #f8f8f8;
    color: #404040;
}

.quill div {
    background-color: #f8f8f8;
}

:global(div.ql-editor) {
    height: 210px;
}

.field {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.success {
    color: #1890ff;
}

.info {
    display: flex;
    margin-left: auto;
    color: #1890ff;
}

.submit {
    width: 200px;
    margin-right: 40px;
}

.input {
    height: 40px;
    margin-bottom: 20px;
}

label.checkbox {
    margin-left: auto;
}

.checkbox span {
    color: #f8f8f8;
}

.warning {
    display: flex;
    min-height: 30px;
}
